---
title: Bio Check
layout: page
bio_year: "2017"
permalink: /bio-check/
norobots: true
---
{% comment %}

  If needs be, each group can reference a different year in transitional times.
  Unless such a need exists, nothing below needs to be altered year to year.

{% endcomment %}

Please email <a href="mailto:denton.don@gmail.com">denton.don@gmail.com</a> if you need to make changes. Changes can be made to the website bios at any time, however the actual printed program has a deadline (which I do not yet know for this year).

<div class="bios-page">
{% assign people = site.data.people.[page.bio_year] %}
{% for person in people %}
  {% unless person.groups contains "board" or person.groups contains "additional" %}
    {% include bio.html %}
  {% endunless %}
{% endfor %}

</div>

