---
title: Program Bios
layout: page
permalink: /program-bios/
norobots: true
regenerate: true
---
{% comment %}

  If needs be, each group can reference a different year in transitional times.
  Unless such a need exists, nothing below needs to be altered year to year.

{% endcomment %}

<div id="TheTop"></div>
<style>
  .plain-bio {
    margin-bottom: 5em;
    font-size: 14px !important;
    font-family: Helvetica !important;
    line-height: 1.2;
  }
  .plain-bio .name *{
    font-size: 20px !important;
  }
  .plain-bio p {
    margin: 0 !important;
  }
  .plain-bio a:visited, .plain-bio a:link {
    color: inherit !important;
  }
  .plain-bio-headshot {
    margin: auto;
    display: block;
    max-width: 900px;
  }
  .plain-bio-text {
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
  }

  .bio-unapproved-text {
    display: none;
  }
  .bio-approved-false {
    opacity: 0.5;
  }
  .bio-approved-false .bio-unapproved-text {
    display: block;
    font-size: 1.5em;
    color: #911;
    text-align: center;
    padding: 1em;
  }

  br {
    line-height: 1;
  }

  .approved-true::after {
    color: green;
    content: "\2713 ";
  }

  .approved-false::after {
    color: red;
    content: 'x ';
  }

  .approved-true, .approved-false {
    margin-right: 1em;
    margin-left: 3em
  }

  .plain-bio img, .bio image {
    margin: auto;
    display: block;
    max-width: 400px;
  }

</style>
{% assign people = site.data.people[site.season] %}

Approved | Name<br>
{% for person in people %}
  {% unless person.groups contains "board" %}

  {% capture nameId %}{{ person.first_name }}-{{ person.last_name }}{% endcapture %}
  <span class="approved-{{ person.bio_approved }}"></span><a href="#{{ nameId | slugify }}">{{ person.first_name }} {{ person.last_name }}</a><br/>
  {% endunless %}
{% endfor %}

<a href="#TheBoard">Board Headshots and Names</a><br/>

<div class="not-bios-page-wink-wink">
{% for person in people %}
  {% unless person.groups contains "board" %}

  {% capture nameId %}{{ person.first_name }}-{{ person.last_name }}{% endcapture %}
  <div class="plain-bio bio-approved-{{ person.bio_approved }}" id="{{ nameId | slugify }}">

    {% assign missing_text = "" %}
    {% if person.image_path != nil %}
      {% capture headshot %}{{ person.image_path | prepend: site.baseurl }}{% endcapture %}
    {% elsif person.image_year != nil and person.image_file != nil %}
      {% capture headshot %}{{ site.baseurl }}/images/people/{{person.image_year}}/{{person.image_file}}{% endcapture %}
    {% else %}
      {% assign headshot = nil %}
      {% assign missing_text = "missing " %}
    {% endif %}

    <img class="plain-bio-headshot" src="{{ headshot }}" alt="{{ missing_text }}picture of {{ person.first_name }}">

    <div class="bio-unapproved-text">{{ person.first_name }}'s bio or roles are not yet approved.</div>

    <div class="plain-bio-text">
      {% capture name %}{{ person.first_name }} {{ person.last_name }}{% endcapture %}
      <span class="name">{{ name | markdownify }}</span><br>

      {% if person.location %}
      {{ person.location | markdownify }}<br>
      {% endif %}

      {% if person.positions != nil %}
      <span class="positions">
        {% for position in person.positions %}
        {{ position | markdownify }}
        {% endfor %}<br>
      </span>
      {% endif %}

      {{ person.bio | markdownify }}
    </div>
  </div>

  <a href="#TheTop">Back to Top</a>


  {% endunless %}
{% endfor %}

</div>

<h1 id="TheBoard" style="font-size:3em;">Board Headshots and Names</h1>

{% for person in people %}
  {% if person.groups contains "board"%}

  <div class="plain-bio">

    {% assign missing_text = "" %}
    {% if person.image_path != nil %}
      {% capture headshot %}{{ person.image_path | prepend: site.baseurl }}{% endcapture %}
    {% elsif person.image_year != nil and person.image_file != nil %}
      {% capture headshot %}{{ site.baseurl }}/images/people/{{person.image_year}}/{{person.image_file}}{% endcapture %}
    {% else %}
      {% assign headshot = nil %}
      {% assign missing_text = "missing " %}
    {% endif %}

    <img class="plain-bio-headshot" src="{{ headshot }}" alt="{{ missing_text }}picture of {{ person.first_name }}">

    <div class="plain-bio-text">

      {% capture name %}{{ person.first_name }} {{ person.last_name }}{% endcapture %}
      <span class="name">{{ name | markdownify }}</span><br>
    </div>
  </div>


  {% endif %}
{% endfor %}
