---
title: Who's Who in 2015
group: main
layout: page
order: 5
bio: "2015"
nav_title: Who's Who
permalink: /who/2015/
image: /images/people/2015/full-cast-collage.jpg
---
{% comment %}

  If needs be, each group can reference a different year in transitional times

{% endcomment %}

<div class="bios-page">
{% assign people = site.data.people.[page.bio] | sort: "last_name" %}
{% include cast.html %}

{% assign people = site.data.people.[page.bio] | sort: "last_name" %}
{% include staff.html %}

{% assign people = site.data.people.[page.bio] %}
{% include board.html %}  
</div>

