---
title: Who's Who in 2017
layout: page
bio_year: "2017"
permalink: /who/2017/
# image: /images/people/2015/full-cast-collage.jpg
group: main
order: 5
nav_title: Who's Who
---
{% comment %}

  If needs be, each group can reference a different year in transitional times.
  Unless such a need exists, nothing below needs to be altered year to year.

{% endcomment %}

<div class="bios-page">
{% assign people = site.data.people.[page.bio_year] %}
{% include cast.html %}

{% assign people = site.data.people.[page.bio_year] %}
{% include staff.html %}

{% assign people = site.data.people.[page.bio_year] %}
{% include board.html %}
</div>

