<div class="person">
  
  {% if person.image_path != nil %}
    {% capture headshot %}{{ person.image_path | prepend: site.baseurl }}{% endcapture %}
  {% elsif person.image_year != nil and person.image_file != nil %}
    {% capture headshot %}{{ site.baseurl }}/images/people/{{person.image_year}}/{{person.image_file}}{% endcapture %}
  {% else %}
    {% assign headshot = nil %}
  {% endif %}
  
  {% if headshot != nil %}
    <img src="{{ headshot }}" alt="Picture of {{ person.first_name }}">
  {% endif %}

  <h2 class="name">{{ person.first_name }} {{ person.last_name }}</h2>

  {% if person.location %}
    <h3 class="location">{{ person.location }}</h3>
  {% endif %}
  
  {% if person.positions != nil %}
    <ul class="positions">
      {% for position in person.positions %}
        <li>{{ position | markdownify }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <div class="bio">
    {{ person.bio | markdownify }}
  </div>
</div>
