<div class="person">
  
  {%- include headshot-path -%}
  
  {%- if headshot != nil -%}
    <img src="{{ headshot | replace: '.jpg', '_300.jpg' }}" alt="Picture of {{ include.person.first_name }}">
  {%- endif -%}

  <h2 class="name">{{ include.person.first_name }} {{ include.person.last_name }}</h2>

  {%- if include.person.location -%}
    <h3 class="location">{{ include.person.location }}</h3>
  {%- endif -%}

  {% if include.person.positions != nil%}
    <ul class="positions">
      {%- for position in include.person.positions -%}
        <li>{{ position | replace: '---', '&mdash;' }}</li>
      {%- endfor -%}
    </ul>
  {%- elsif include.person.production_positions != nil or include.person.roles != nil or include.person.staff_positions != nil -%}
    <ul class="positions">
      {%- for position in include.person.staff_positions -%}
        <li>{{ position | replace: '---', '&mdash;' }}</li>
      {%- endfor -%}

      {%- for show_x_positions in include.person.production_positions -%}
        <li>{{ show_x_positions[0] }} &mdash; {{ show_x_positions[1] | join: ", " }}</li>
      {%- endfor -%}
      
      {%- for role in include.person.roles -%}
        {%- if role[0] == "Season" -%}
        <li>{{ role[0] }} {{role[1]}}</li>
        {%- else -%}
        <li>{{ role[0] }} &mdash; {{role[1]}}</li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if include.person.bio_approved or override_bio_approved or page.is_bio_check -%}
    <div class="bio">
      {{ include.person.bio | markdownify }}
    </div>
  {%- endif -%}
</div>
