<div class="calendar-filters">
  <div class="filter selected show-1">
    Shrek The Musical
  </div>
  <div class="filter selected show-2">
    Mama Mia!
  </div>
  <div class="filter selected show-3">
    Crazy For You
  </div>
  <div class="filter selected show-4">
    Chicago
  </div>
  <div class="filter selected show-5">
    Young Frankenstein
  </div>
</div>

<div class="calendar">
<h3 class="month-name">June</h3><table class="month" cellpadding="0" cellspacing="0"><tbody><tr class="week">
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
  </td>
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
  </td>
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">1</span>
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">2</span>
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">2</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">3</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">4</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">5</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">6</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">7</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">8</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">9</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">10</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">11</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">12</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">13</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">14</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">15</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">16</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">17</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">18</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">19</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">20</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">21</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">22</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">23</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">24</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">25</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">26</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">27</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">28</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">29</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">June</span>
    <span class="mday">30</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tbody></table>


<h3 class="month-name">July</h3><table class="month" cellpadding="0" cellspacing="0"><tbody><tr class="week">
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
  </td>
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
  </td>
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
  </td>
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
  </td>
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
  </td>
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">1</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">2</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">3</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">4</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">5</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">6</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">7</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">8</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">9</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">10</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">11</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">12</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">13</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">14</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">15</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">16</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">17</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">18</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">19</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">20</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">21</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">22</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">23</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">24</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">25</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">26</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">27</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">28</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">29</span>
    <div class="day-content show-count-3">
      <div class="showing morning show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">10:00am</span>
          <span class="short">10am</span>
        </div>
      </div><!-- showing -->
      <div class="showing matinee show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">July</span>
    <span class="mday">30</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tbody></table>


<h3 class="month-name">August</h3><table class="month" cellpadding="0" cellspacing="0"><tbody><tr class="week">
  <td class="day padding" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">1</span>
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">1</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">2</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">3</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">4</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">5</span>
    <div class="day-content show-count-3">
      <div class="showing morning show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">10:00am</span>
          <span class="short">10am</span>
        </div>
      </div><!-- showing -->
      <div class="showing matinee show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">6</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day dark" valign="top">
    <span class="day-name">
      <span class="full">Monday</span>
      <span class="short">Mon</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">7</span>
    <div class="day-content show-count-0"> &nbsp; </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Tuesday</span>
      <span class="short">Tue</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">8</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Wednesday</span>
      <span class="short">Wed</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">9</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Thursday</span>
      <span class="short">Thu</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">10</span>
    <div class="day-content show-count-1">
      <div class="spacer"></div>
      <div class="showing evening show-5">
        <div class="show-title">
          <span class="full">Young Frankenstein</span>
          <span class="short">Frankenstein</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Friday</span>
      <span class="short">Fri</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">11</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-4">
        <div class="show-title">
          <span class="full">Chicago</span>
          <span class="short">Chicago</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Saturday</span>
      <span class="short">Sat</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">12</span>
    <div class="day-content show-count-2">
      <div class="showing matinee show-3">
        <div class="show-title">
          <span class="full">Crazy For You</span>
          <span class="short">Crazy</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
      <div class="showing evening show-2">
        <div class="show-title">
          <span class="full">Mama Mia!</span>
          <span class="short">Mama Mia!</span>
        </div>
        <div class="show-time">
          <span class="full">8:00pm</span>
          <span class="short">8pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tr><!-- week -->
<tr class="week">
  <td class="day" valign="top">
    <span class="day-name">
      <span class="full">Sunday</span>
      <span class="short">Sun</span>
    </span>
    <span class="month-name">August</span>
    <span class="mday">13</span>
    <div class="day-content show-count-1">
      <div class="showing matinee show-1">
        <div class="show-title">
          <span class="full">Shrek The Musical</span>
          <span class="short">Shrek</span>
        </div>
        <div class="show-time">
          <span class="full">2:00pm</span>
          <span class="short">2pm</span>
        </div>
      </div><!-- showing -->
    </div><!--day_content-->
  </td>
</tbody></table>


</div>
