{% assign role_names = '' | split: '' %}
{% for person in include.people %}
  {% if person.groups contains "cast" and person.bio_approved and person.roles != nil %}
    {% for role in person.roles %}
      {% if role[0] == include.production.title or role[0] == include.production.short_title %}
        {% assign role_as_arr = role[1] | split: 'NEVER_APPEARS' %}
        {% assign role_names = role_names | concat: role_as_arr %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}


{% assign role_names = role_names | sort_natural | reverse %}
{% if include.production.roles_sorting != nil %}
  {% assign sorting_roles = include.production.roles_sorting | reverse %}
  {% for sorting_role in sorting_roles %}
    {% assign sorting_role_as_arr = sorting_role | split: 'NEVER_APPEARS' %}
    {% assign role_names = role_names | concat: sorting_role_as_arr %}
  {% endfor %}
{% endif %}
{% assign role_names = role_names | reverse | uniq %}

<!-- remove double slash to show roles for yaml --//>
{% for role_name in role_names %}
  - {{role_name}}<br>
{% endfor %}
<!-- -->

{% assign ensemble_members = '' | split: '' %}
<ul class="cast-list">
  {% for role_name in role_names %}
    {% for person in include.people %}
      {% for role in person.roles %}
        {% if role[0] == include.production.title or role[0] == include.production.short_title %}
          {% capture name %}{{person.first_name}} {{person.last_name}}{% endcapture %}
          {% if role[1] == role_name %}
            {% if role_name != 'Ensemble' %}
              <li>
                <span class="role">{{role_name | replace: 'Ensemble', 'Ens.'}}</span>
                <span class="separator"></span>
                <span class="actors"><span class="actor">{{name}}</span></span>
              </li>
            {% else %}
              {% assign name_as_arr = name | split: 'NEVER_APPEARS' %}
              {% assign ensemble_members = ensemble_members | concat: name_as_arr %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

  {% if ensemble_members.size > 0 %}
    <li>
      <span class="role">Ensemble</span>
      <span class="separator"></span>
      <span class="actors"><span class="actor">{{ ensemble_members | join: '</span>, <span class="actor">'}}</span></span>
    </li>
  {% endif %}
</ul>
