<header class="site-header">

  <div class="wrapper">

    <a class="site-title tickets-available" href="{{ site.baseurl }}/" title="Post Playhouse" rel="home">
      <img src="{{ site.baseurl }}/images/post-nameplate-colors.svg" alt="Post Playhouse Title Logo">
      <h1>{{ site.title }}</h1>
      <h2 class="site-description">Northwest Nebraska&#039;s Premiere Venue For Live Theatre</h2>
    </a>

    <div class="get-tickets">
      <form action="http://postplayhousetickets.com" method="link">
        <button class="online">Get Tickets Online</button>
      </form>
      <a href="{{ site.baseurl }}/ticket-info/">Ticket Information</a>
      <br />
      <span class="phone-number">308-665-1976<span>
    </div>

    
    <nav class="site-nav js-hide">
      <input type="checkbox" id="menu" style="display:none">
      <label for="menu">Navigation</label>
      {% include nav.html %}
    </nav>

  </div>

</header>


<header id="masthead" class="site-header" role="banner">
          <div class="nav-menu">
<ul>
        <li class="page_item page_item_has_children ">
      <a href="http://postplayhouse.com/?season_year=2015">Productions</a>
      <ul class="children">
        <li class="page_item ">
          <a href="http://postplayhouse.com/?season_year=2015">The 2015 Season</a>
        </li>
        <li class="page_item ">
          <a href="http://postplayhouse.com/?post_type=production">Past Productions</a>
        </li>
      </ul>
    </li>


    <li class="page_item page_item_has_children "><a href="http://postplayhouse.com/?position=castcrew&bio_year=2015">Who's Who</a>
      <ul class="children">
          <li class="page_item "><a href="http://postplayhouse.com/?position=castcrew&bio_year=2015">Cast/Crew</a></li>
          <li class="page_item "><a href="http://postplayhouse.com/?position=musicians&bio_year=2015">Musicians</a></li>
          <li class="page_item "><a href="http://postplayhouse.com/?position=staff">Staff</a></li>
          <li class="page_item "><a href="http://postplayhouse.com/?position=board">Board</a></li>
        </ul>
    </li>
    <li class="page_item page-item-86 current_page_parent"><a href="http://postplayhouse.com/blog/">Recent News</a></li>
<li class="page_item page-item-1269"><a href="http://postplayhouse.com/videos/">Videos</a></li>
    </li>

    <li class="page_item "><a href="http://postplayhouse.com/?post_type=production_photo">Photos</a></li>

      <li class="page_item page-item-449"><a href="http://postplayhouse.com/about/area-photos/">Area Photos</a></li>

</ul>
</div>                  </nav><!-- #site-navigation -->
      </div><!-- #navbar -->
    </header><!-- #masthead -->