<header class="site-header">
  <style>
    .emergency{
      background-color: #EF2C2C;
      padding: 1em;
    }
    .emergency-bigger{
      font-size: 1.3em;
      text-align: center;
      padding-bottom: 0.8em;
    }
    .emergency a:link, .emergency a:visited{
      text-decoration: underline;
    }
  </style>

  <div class="emergency"><strong style="color:white">ATTENTION:</strong> <p>After a solid week of trying to get <a href="http://www.donotlink.com/www.centurylink.com/small-business/customer-support/help.html" target="_blank">Century Link</a>&mdash;our phone provider&mdash;to forward our number to our physical location, they informed us that <strong>they accidentally shut off our phone line completely</strong>.</p> <p>We are working to resolve the issue as soon as we can. But in the meantime, please <a href="http://postplayhousetickets.com">purchase your tickets online</a> instead of calling in. <div class="emergency-bigger">If you cannot purchase online, please call 308-432-6380.</div> Our friends at Chadron State College are assisting us in making reservations for you at that number. Thank you Connie and Shellie!</p></div>

  <div class="pre-nav">

    <a class="site-title tickets-available" href="{{ site.baseurl }}/" title="Post Playhouse" rel="home">
      <img src="{{ site.baseurl }}/images/post-nameplate-colors.svg" alt="Post Playhouse Title Logo">
      <h1>{{ site.title }}</h1>
      <h2 class="site-description">Northwest Nebraska&#039;s Premiere Venue For Live Theatre</h2>
    </a>

    <div class="get-tickets">
      <form action="http://postplayhousetickets.com" method="link">
        <button class="online">Get Tickets Online</button>
      </form>
      <a href="{{ site.baseurl }}/ticket-info/">Ticket Information</a>
      <br />
      <span class="phone-number"><del>308-665-1976</del> (See message above) <span>
    </div>

  </div>
    
  <nav class="site-nav js-hide">
    <input type="checkbox" id="menu" style="display:none">
    <label for="menu">Navigation</label>
    {% include nav.html %}
  </nav>

</header>
