<header class="site-header">

  <div class="pre-nav">

    <a class="site-title tickets-available" href="{{ site.baseurl }}/" title="Post Playhouse" rel="home">
      <img src="{{ site.baseurl }}/images/post-nameplate-colors.svg" alt="Post Playhouse Title Logo">
      <h1>{{ site.title }}</h1>
      <h2 class="site-description">Professional talent from across the country... <span style="white-space:nowrap">So close to home</span></h2>
    </a>

    <div class="get-tickets">
      <a href="{{ site.tickets_link }}" class="button buy-tickets">Get Tickets Online</a>


      <a class="info-link" href="{{ site.baseurl }}/ticket-info/">Ticket Information</a>
      <br />
      <span class="phone-number">{{ site.box_office_phone }}<span>
    </div>

  </div>

  <nav class="site-nav">
    <input type="checkbox" id="menu" style="display:none">
    <label for="menu">Navigation</label>
    {%- include nav.html -%}
  </nav>

</header>
