---
title: Summer 2016 Productions
permalink: /productions/2016/
season: "2016"
layout: page
nav_title: Our Shows
group: main
order: 2
---

<p>We will be putting up the usual artwork and show descriptions soon. <a href="{% post_url 2015-11-01-the-2016-season-and-game-and-parks %}">Here's why they aren't ready now</a>.</p>

{% comment %}

{% assign productions = site.data.productions.[page.season] | sort: "opening" %}
{% for production in productions %}

  {% if production.image contains "/" %}
    {% capture production_image %}{{ production.image | prepend: site.baseurl }}{% endcapture %}
  {% elsif production.image != nil %}
    {% capture production_image %}{{ site.baseurl }}/images/{{ site.season }}/{{production.image}}{% endcapture %}
  {% else %}
    {% assign production_image = nil %}
  {% endif %}
  

<article class="production">
  <header class="entry-header">
    <h1 class="production-title">
        {{ production.title }}
    </h1>
      <img class="production-image" src="{{ production_image }}" alt="Show Logo for {{ production.title }}">
  </header>

  {% if production.opening %}
    <div class="dates-message">
      Opens {{ production.opening | date: "%B %-d, %Y"}}
    </div>
  {% endif %}

  <div class="writers">
    {{ production.writers }}
  </div>

  <div class="description">
    {{ production.description | markdownify }}
    
    {% if production.sponsor %}
      <div class="sponsor">
        <p>Sponsored By</p>
        <img class="sponsor-image" src="{{ site.baseurl }}/images/sponsors/{{ production.sponsor.image }}">
      </div>

    {% endif %}
  </div>
</article>

{% endfor %}

{% endcomment %}