.bio-group
  +pie-clearfix
  position: relative

.person
  +clearfix
  margin: ($spacing-unit * 4) auto

  
  &:first-of-type
    margin-top: 0

  img
    max-width: 100%
    display: block
    margin: auto
    margin-bottom: $spacing-unit / 3
    +breakpoint($medium)
      float: right
      margin: 0 24px 12px

  h1, h2, h3, h4
    clear: none
    +breakpoint($medium)
      margin-top: 0

  h2
    font-size: 2em
    line-height: 1em
    text-align: center
    +breakpoint($medium)
      text-align: left

  .positions
    margin: ($spacing-unit / 2) auto

    li 
      margin-bottom: $spacing-unit / 5
      line-height: 1em
      text-indent: -1em
      padding-left: 1em
      font-weight: 100

      p
        margin: 0

+breakpoint($medium)
  .bio-group.board .person
    margin: 0
    padding-bottom: $spacing-unit * 3
    +span(1 of 2)

    &:nth-of-type(odd)
      clear: both

    &:nth-of-type(even)
      +span(1 of 2 at 2)

+breakpoint($large)
  .bio-group.board .person
    +span(1 of 3)

    &:nth-of-type(odd)
      clear: none
    &:nth-of-type(even)
      +span(1 of 3)
    &:nth-of-type(3n)
      +span(1 of 3 at 3)
    &:nth-of-type(3n + 1)
      clear: both


// Sticky titles
.bio-group-label 
  background: rgba(209, 220, 196, 0.9)
  padding: 10px 20px 10px 0
  margin-top: 0
  margin-bottom: 48px
  text-shadow: 0 0 8px #D4DEC8, 0 0 8px #D4DEC8, 0 0 8px #D4DEC8, 0 0 8px #D4DEC8, 0 0 8px #D4DEC8, 0 0 8px #D4DEC8, 0 0 8px #D4DEC8, 0 0 8px #D4DEC8
  +fw-bars
