/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: $button; /* Old browsers */
  background: -webkit-linear-gradient(top, $button 0%, $button-tint 100%); /* Chrome 10+, Safari 5.1+ */
  background:   linear-gradient(to bottom, $button 0%, $button-tint 100%); /* W3C */
  border: none;
  border-bottom: 3px solid $button-edge;
  border-radius: 2px;
  color: $button-text;
  display: inline-block;
  padding: 11px 24px 10px;
  text-decoration: none;
  font-size: 100%;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
  background: $button-hover; /* Old browsers */
  background: -webkit-linear-gradient(top, $button-hover 0%, $button-hover-tint 100%); /* Chrome 10+, Safari 5.1+ */
  background:   linear-gradient(to bottom, $button-hover 0%, $button-hover-tint 100%); /* W3C */
  outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  background: $button-tint; /* Old browsers */
  background: -webkit-linear-gradient(top, $button-tint 0%, $button 100%); /* Chrome 10+, Safari 5.1+ */
  background:   linear-gradient(to bottom, $button-tint 0%, $button 100%); /* W3C */
  border: none;
  border-top: 3px solid $button-edge;
  padding: 10px 24px 11px;
}
