.home
  & > div
    margin-bottom: $spacing-unit
  .featured-pictures
    margin-top: $spacing-unit * 3

div.full
  text-align: center
  font-size: 2em
  margin-bottom: $spacing-unit * 3

  &.sticky-feature
    margin-bottom: 30px

    h2
      line-height: 1
      font-size: 1em
    article
      margin-top: 15px

a.a-wrap
  &, &:link, &:hover, &:visited
    color: $text-color
    text-decoration: none

  .post-link
    color: $article-link

  &:hover
    background-color: darken($subtle-bg,10)

  .post-link:hover
    text-decoration: underline


%front-boxes
  display: block
  background-color: $subtle-bg
  padding: 16px
  margin-bottom: gutter(6)

  h3
    margin-top: 0


.mail, .stay-connected
  @extend %front-boxes

  +breakpoint($large)
    height: 155px
    +span(2 of 6)
    float: left
    clear: left

.donations
  margin-bottom: gutter(6)

  +breakpoint($large)
    +span(4 of 6 at 3)
    float: right

.new-tickets
  @extend %front-boxes

  +breakpoint($large)
    +span(6 of 6)


.recent
  @extend %front-boxes

  +breakpoint($large)
    +span(3 of 6)
    min-height: 220px
  & ~ &
    +breakpoint($large)
      +span(3 of 6 at 4)

  p
    font-size: 0.85em
  img.preview
    +breakpoint($large)
      max-width: 50%
      margin: 0 6px 6px 0
      float: left
      max-height: 130px

.read-more
  font-size: 0.65em

.stay-connected
  a:hover
    background-color: darken($subtle-bg,10)
  img
    max-width: 25%
    margin-left: 12%
    margin-right: 12%

#mailer .modal
  background: white
  position: relative
  max-width: 800px
  max-height: 90%
  overflow: auto
  margin: 5% auto

  .close
    content: "close"
    position: absolute
    top: 12px
    right: 12px
    display: block
    z-index: 1000

    & ~ .close
      top: auto
      bottom: 12px

#mailer
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.8)

.mailer-open #mailer
  display: block

// for articles on the front
div.full
  article
    font-size: $base-font-size

    p
      text-align: left
