$susy: (
  global-box-sizing: border-box,
  gutters: 1/8
);

@import
        "../_includes/bower_components/breakpoint-sass/stylesheets/breakpoint",
        "../_includes/bower_components/susy/sass/susy"
;

@mixin clearfix {
  @include pie-clearfix;
}

@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin border-radius($rad) {
  border-radius: $rad;
}

@mixin rotate ($amount) {
  -webkit-transform: rotate($amount);
  -moz-transform:    rotate($amount);
  -ms-transform:     rotate($amount);
  -o-transform:      rotate($amount);
  transform:         rotate($amount);
}
