$dark-green: #05470a;
$green: #289c28;
$green-dark: #207a20;
$green-darker: #145a14;
$green-darkest: $dark-green;
$bright-green: #33921b;
$light-green: #dfeed4;
$greenish-grey: #eaefe4;
$garrish-green: #2b8609;
