.production
  margin-bottom: $spacing-unit * 3
  +clearfix

.production-image
  display: block
  margin: auto

  +breakpoint($large)
    float: left
    padding-right: 1em
    max-width: 60%

.sponsor
  float: right
  p
    margin: 0

.production-title
  font-size: $base-font-size
  font-size: 2em

.production
  .description
    margin-top: $spacing-unit