$main-text: #142614;
$main-bg: #fff;

$subtle-bg: $greenish-grey;
$subtle-bg-alt: darken($greenish-grey, 10%);
$subtle-border: darken($subtle-bg, 10%);
$button: $bright-green;
$button-tint: darken($button, 10%);
$button-hover: lighten($button,15%);
$button-hover-tint: lighten($button-tint,15%);
$button-edge: darken($button-tint, 10%);

$pop-bg: $dark-green;
$pop-bg-text: #fff;

$subtle-bg-subtle-text: #686758;


$article-link: $garrish-green;
$article-link-visited: darken($article-link, 10%);
$article-link-hover: #ea9629;
$pop-bg-link: #e6402a;
$pop-bg-link-hover: $pop-bg-link;

$nav-sub-bg-hover: #db572f;
$subtle-bg-border-focus: #c3c0ab;
$button-text: #fff;
$input-placeholder: #7d7b6d;
$main-bg-border: #f2f2f2;

$alt-link-bg: #e63f2a;
$alt-link: #fff;

$transparent-dark: rgba(0, 0, 0, 0.7);
$transparent-dark-complimentary-text: #fff;
$transparent-pop-shadow: rgba(173, 165, 105, 0.2);
$table-border-color: #ededed;

$error: #ed331c;

/*/
$test-color: #444;

$main-text: $test-color;
$main-bg: $test-color;
$subtle-bg: $test-color;
$subtle-border: $test-color;
$button: $test-color;
$button-hover: $test-color;
$button-tint: $test-color;
$button-hover-tint: $test-color;
$button-edge: $test-color;
$pop-bg: $test-color;
$pop-bg-text: $test-color;
$subtle-bg-subtle-text: $test-color;
$article-link: $test-color;
$article-link-hover: $test-color;
$pop-bg-link: $test-color;
$pop-bg-link-hover: $test-color;
$nav-sub-bg-hover: $test-color;
$subtle-bg-border-focus: $test-color;
$button-text: $test-color;
$input-placeholder: $test-color;
$main-bg-border: $test-color;
$alt-link-bg: $test-color;
$alt-link: $test-color;
$transparent-dark: $test-color;
$transparent-dark-complimentary-text: $test-color;
$transparent-pop-shadow: $test-color;
$subtle-bg-alt: $test-color;
$table-border-color: $test-color;
$article-link-visited: $test-color;
/**/