.home  
  & > div
    margin-bottom: $spacing-unit

  +breakpoint($large)
    .featured-pictures
      margin-top: $spacing-unit * 3 
      
      .picture
        +span(3 of 6)

        &:nth-of-type(even)
          +span(3 of 6 at 4)

        &:nth-of-type(odd)
          clear: both

div.full
  text-align: center
  font-size: 2em
  margin-bottom: $spacing-unit * 3

%front-boxes
  background-color: $subtle-bg
  padding: 16px
  margin-bottom: gutter(6)

  h3
    margin-top: 0
  

.new-tickets
  @extend %front-boxes
  min-height: 159px

  +breakpoint($large)
    +span(4 of 6)

.donations
  margin-bottom: gutter(6)

  +breakpoint($large)
    +span(2 of 6 at 5)


.recent
  @extend %front-boxes
  
  +breakpoint($large)
    +span(3 of 6)
    min-height: 220px
  & ~ &
    +breakpoint($large)
      +span(3 of 6 at 4)

  p
    font-size: 0.85em

.read-more
  font-size: 0.65em